* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffd845;
}

.el-input {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  border: 1.8px solid black;
  padding-left: 15px;

  @media (max-width: 760px) {
    width: 200px;
    margin-top: 20px;
  }
}

.el-btn {
  width: 130px;
  border-radius: 8px;
  height: 35px;
  border: 1.8px solid black;

  @media (max-width: 760px) {
    width: 200px;
    margin-top: 20px;
  }
}

.search {
  margin-top: 20px;
}

.card {
  border-radius: 16px;
  border: 1.9px solid black;
}

.wrap {
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 80px;
}

.span {
  padding-right: 20px;
}

.card-img-top {
  border-bottom: 1.8px solid black;
  height: 10rem;
  object-fit: contain;
}

.my-modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px dashed #fff;
  z-index: 100;
  background: rgba(24, 22, 22, 0.1);
  backdrop-filter: blur(5px);
  display: none;

  &.show {
    display: flex;
  }
}

.my-modal__content {
  max-width: 500px;
  padding: 50px;
  background-color: #fff;
  border-radius: 12px;
}

.btn-close {
  display: flex;
  justify-content: flex-end;
}
